.outer-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 6px;
    padding: 2.8rem 2.4rem;
    margin: 1.8em;
}

.container .left-content{
    width: 380px;
}

.heading{
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 20px;
}

input[type="text"],[type="password"]{
    border-radius: 4px;
    color: #202124; 
    border: 1px solid rgb(218, 218, 218);
    padding: 10px 8px;
    width: 100%;
}

input[type="text"]:focus,[type="password"]:focus{
    border: 2px solid #1a73e8;
    outline:red;
}


.use-current a{
    color:#1a73e8 ;
    text-decoration: none;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    padding: 10px 4px;
}

.use-current a:hover{
    background-color: #9ec7f015;
    color: #1D4ED8;
    cursor: default;
    border-radius: 2px;
    padding: 10px 4px;
    cursor: pointer;
}

/* input field designs */
.input-field{
    position: relative;
    margin: 10px 0;
}

.top{
    margin-top: 20px;
}

.input-field label{
   position: absolute;
   left: 0;
   padding: 10px;
   font-size: 14px;
   font-weight: 400;
   font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
   /* color: rgb(63, 63, 63); */
   color: rgb(116, 115, 115);
   pointer-events: none;
}

.input-field input:focus ~ label, input:valid ~ label{
    color:#1a73e8;
    font-size: 10px;
    transition: .2s;
    top: -10px;
    background-color: transparent;
    background-color: white;
    font-weight:500;
    padding: 2px;
    left: 4px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.span{
    /* color: rgb(63, 63, 63); */
    color: rgb(116, 115, 115);
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 12px;
    margin-left: 8px;
}

.row .input-field{
    flex-basis: 48%;
}

/* content bbelow right picture */
.right-pic{
    text-align: center;
}

.right-pic span{
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 16px;
    font-weight: 100;

}

.signIn-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.signIn-sec button{
    color: #fff;
    background-color: #2563EB;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 2px;
    transition: box-shadow 0.6s;
    letter-spacing: 0.15px;
    line-height: 20px
}

.signIn-sec button:hover{
    background-color: #2857d8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    letter-spacing: 0.15px;
    line-height: 20px
}

.chk-span {
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: .9em;
    font-weight: 100;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* error messages designs */
.error-mess span{
    color: #d93025;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    position: relative;
    top: -10px;
}

.user-error{
    color: #d93025;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
 
.input.ng-invalid.ng-touched{
    border: 1px solid #d93025;
}

.input.ng-invalid.ng-touched:focus{
    border: 2px solid #d93025;
}
.input.ng-invalid.ng-touched:focus ~ label{
    color: #d93025;;
}

.checkbox-div{
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}

.checkbox-div:hover{
    background-color: rgba(0, 0, 0, 0.034);
}
